/* Project.css */

.projects-container {
    padding: 20px;
    text-align: center;
  }
  
  .search-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 300px;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card h2 {
    margin-bottom: 10px;
    color: rgb(5, 107, 148); /* Change the title color to blue */
  }
  
  .project-card p {
    font-size: 1rem;
    color: #666;
  }
  
  .project-card a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project-card a:hover {
    text-decoration: underline;
  }
  
  /* Add Project Form */
  .add-project {
    margin-top: 30px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .add-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .add-button {
    background-color: #c0392b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 420px;
}
  
  .add-button:hover {
    background-color: #c0392b;
  }
  /* Project.css */

.delete-button {
    background-color: #e74c3c; /* Red color for delete */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}
  
  .delete-button:hover {
    background-color: #c0392b; 
  }
  