/* style for body*/
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: url(33.jpg) no-repeat center center fixed;
    background-size: cover;
    ;
}
/* style for the left menu for all pages*/
.sidebar {
    height: 50%;
    width: 200px;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}
/* style fot the pargraph in bottom of leftmenu*/
.defention{
    height: 50%;
    width: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;

}
.defention h1{
    color: white;
    position: relative;
    left: 10px;
}
/* style of the navbar in top for the h1 and img*/
.flex-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    height: 70px;
    width: 100%;
    background-color: #000000;
    padding-top: 20px;

}
.flex-container h1{
    position: relative;
    color: white;
}
.flex-container img{
    position: relative;
    right: 400px;
    top: 20px;
}
.flex-container a{
   position: relative;
   top: 10px; 
    right: 20px;
   color: white;
 
}
/* style for links in nav bar in top*/
.head-nav a{
margin-left:40px;
margin-right: 10px;
color: rgb(255, 255, 255);
text-decoration-line:none ;
}
.head-nav a:hover{
    background-color: #575757;
    padding: 10px;
}
/* style for the about me and family table in main.html*/
.main-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom:1;
    top: 150px;
    right: 50px;
}
/* for about me section*/
.me{
    display: flex;    
    flex-direction: column;
    position: relative;
    align-items: center;
    right: 400px;
   
    color: rgb(255, 255, 255);
}
.me a{
    color: rgb(255, 255, 255);
}
.me p{
    height: 100px;
    width: 200px;
}
/* for family section*/
.family{
   display: flex;
   flex-direction: column; 
   align-items: center;
   position: relative;
    right: 100px;
    color: rgb(255, 255, 255);
  
}
/* style for the projects container ad grid in project.html*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(2,auto);
    margin-top: 20px;
    justify-content: space-between;
    width: 800px;
   position: fixed;
   left: 300px;

}
/* style for the child of gridcontain in project.html*/
.child{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border: 1px solid black;
   padding: 80px;
    height: 5px;
   margin: 70px ;
    background-image: url(33.jpg) ;
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}  
.child a img{
  
   height: 80px;
  
}
.child p{
    text-shadow: 2px 2px 9px rgb(114, 116, 117);
    color: aliceblue;   
}
/* style for the interest section and hopy as flex */
.hobby-interest{
    display: flex;
   justify-content: center;
   align-items: flex-end; 
   color: wheat;
    position: relative;
    top: 150px;
    left:70px;
}
/* style for hoopy section*/
.hoppy{
    padding: 50px;
    font-size: 20px;
}
/* style for skills section*/
.skills{
    padding: 50px;
    margin-left:60px;
    font-size: 20px;
}
/* style for contact form in contavt.html */
.contact{
    display: flex;
    flex-direction: column;
 align-items: center;
    position: relative;
    top: 170px;
    left: 120px;
}
.contact form fieldset{ 
   padding: 40px;
    color: wheat;
    border-radius:20px ;
}
/* styles for input and label*/
input{
    border-color: black;
    border-radius: 20px;
    width: 220px;
    height: 30px;
}
textarea{
    border-color: black;
    border-radius: 20px;
 
}
/* i notes some problem in contact in leftmenu so i rise itup */
.for-a{
position: relative;    
bottom: 8px;
}