/* style for body*/
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: url(assests/33.jpg) no-repeat center center fixed;
    background-size: cover;
    ;
}
/* style for the left menu for all pages*/
.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}
.sidebar img{
    position: relative;
    left: 30px;
}
.sidebar a {
    padding: 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover {
    background-color: #575757;
}
/* style fot the pargraph in bottom of leftmenu*/

/* style of the navbar in top for the h1 and img*/
.flex-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    height: 70px;
    width: 100%;
    background-color: #000000;
    padding-top: 20px;

}
.flex-container h1{
    position: relative;
    color: white;
}
.flex-container img{
    position: relative;
    right: 400px;
    top: 20px;
}
.flex-container a{
   position: relative;
   top: 10px; 
    right: 20px;
   color: white;
 
}
/* style for links in nav bar in top*/
.head-nav a{
margin-left:40px;
margin-right: 10px;
color: rgb(255, 255, 255);
text-decoration-line:none ;
}
.head-nav a:hover{
    background-color: #575757;
    padding: 10px;
}
/* style for the about me and family table in main.html*/
.main-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom:1;
    top: 150px;
    right: 50px;
}
/* for about me section*/
.me{
    display: flex;    
    flex-direction: column;
    align-items: center;
    position: relative;
    right: 100px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 20px;
}
.me a{
    color: rgb(255, 255, 255);
}
.me p{
    padding: 10px;
    height: 100px;
    width: 700px;
}
/* for family section*/
.family{
   position: relative;
    right: 100px;
    color: rgb(255, 255, 255); 
}
#h2-family{
    color: white;
    position: relative;
    left: 170px;
}
/* Style for the grid container in project.html */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, auto);
    justify-content: space-around;
    margin-top: 20px;
    width: 900px;
    position: fixed;
    left: 360px;
    top: 180px;
    border: 2px solid white;
    border-radius: 20px;
    height: 400px; 
    overflow-y: auto;
    box-shadow: inset 0 10px 10px -10px #34495e, inset 0 -10px 10px -10px #34495e;
}

/* Custom scrollbar styles for webkit browsers */
.grid-container::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
    height: auto;
}

.grid-container::-webkit-scrollbar-track {
    background: #575757; /* Background of the scrollbar track */
    border-radius: 10px;
}

.grid-container::-webkit-scrollbar-thumb {
    background-color: #ecf0f1; /* Color of the scrollbar thumb */
    border-radius: 10px;
    border: 2px solid #34495e; /* Border around the scrollbar thumb */
}

.grid-container::-webkit-scrollbar-thumb:hover {
    background-color: #bdc3c7; /* Color of the scrollbar thumb on hover */
}

/* Style for the child elements of the grid container in project.html */
.child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 60px;
    padding-left: 130px;
    padding-right: 130px;
    height: 40px;
    margin: 30px;
    background-image: url(33.jpg);
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    right: 110px;
}


.child a {
    color: aliceblue;
    text-decoration-line:none ;
    font-size: 15px;
margin: 0 10px;
}


.child button{
    position: relative;
    top: 60px;
    left: 110px;
  color: #000000;
}
/* style for skills section*/
.skills{
 
    padding: 50px;
    margin-left:60px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(2,auto);
    color: azure;
    position: fixed;
    left: 300px;
    top: 100px;
}
/* style for contact form in contavt.html */

.contact{
    display: flex;
    flex-direction: column;
 align-items: center;
    position: relative;
    top: 170px;
    left: 120px;
}
.contact form fieldset{ 
   padding: 40px;
    color: wheat;
    border-radius:20px ;
}
/* styles for input and label*/
input{
    border-color: black;
    border-radius: 20px;
    width: 220px;
    height: 30px;
}
textarea{
    border-color: black;
    border-radius: 20px;
 
}
/* i notes some problem in contact in leftmenu so i rise itup */
.for-a{
position: relative;    
bottom: 8px;
}
/* for table style*/
td{
padding-left: 80px;
padding-right: 80px;
background-color: #111;
}
th{
color: rgb(255, 255, 255);
background-color: #000000;
}
/* for skill item*/
#skill-h2{
    position: fixed;
    top: 100px;
    left: 700px;
    color: wheat;
    text-decoration-line:underline ;
    ;
}

.child-skill{
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 25px;
    justify-content: space-between;
}
.skills img{
    border-radius: 50%;
    width: 100px;
    margin-bottom: 5px;
}
/* add search button*/
.add-project{
    position: fixed;
    left: 600px;
top: 100px;
}
.search-project{
    position: fixed;
    left: 600px;
    top: 150px;
    
}
button{
border-radius: 20px;
font-size: 16px;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
/* for the name of project*/
.div-p{
  
    width: 220px;
    height: 60px;
    position: relative;
    top: 39px;
    
}
/* for _______________*/
.div-r p{
    color: wheat;
    text-align: center;
    position: relative;
    bottom: 30px;
    
}
/* for the date*/
.div-date{
    font-size: 17px;
    position: relative;
    bottom: 30px;
}
/* some edit in add and search contnent*/
#additemContent{
  padding-left: 150px;
} 
#searchitemContent{
    padding-left: 150px;
} 
/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    /* Hide the sidebar by default */
    .sidebar {
        width: 0;
        height: 100%;
        position: fixed;
        top: 70px;
        left: 0;
        background-color: #111;
        overflow: hidden;
        transition: 0.3s;
        padding-top: 20px;
    }

    /* Sidebar links style for mobile */
    .sidebar a {
        font-size: 12px;
        padding: 15px 10px;
        text-align: center;
    }
    .sidebar img {
        font-size: 12px;
       width: 100px;
       height: 100px;
       text-align: center;
    }

    /* Button to toggle sidebar */
    

.toggle-btn {
    position: fixed;
    top: 70px; 
    left: 3px;
    font-size: 12px;
    color: white;
    background-color: #111;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1; /* to show the button when left menu showen*/
}

    
    .sidebar.open {
        width: 150px; 
    }
    .flex-container{
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        top:0;
        right: 0px;
        height: 50px;
        width: 100%;
        background-color: #000000;
        padding-top: 20px;
    
    }
    .flex-container h1{
        font-size: 15px;
        position: relative;
        left: 2px;
        color: white;
    }
    .flex-container img{
        position: fixed;
        left:85px;
       top: 20px;
        width: 30px;
        height:30px;
    }
    .flex-container a{
       position: relative;
       top: 10px; 
        right: 20px;
       color: white;
     
    }
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 100px);
        grid-template-rows: repeat(3, auto);
        margin-top: 20px;
        width: 360px;
        position: fixed;
        left: 155px;
        top: 250px;
        border: 2px solid white;
        border-radius: 20px;
        height: 600px; 
        overflow-y: auto;
        box-shadow: inset 0 10px 10px -10px #34495e, inset 0 -10px 10px -10px #34495e;
    }
    
    /* Custom scrollbar styles for webkit browsers */
    .grid-container::-webkit-scrollbar {
        width: 12px;
        height: auto;
    }
    
    .grid-container::-webkit-scrollbar-track {
        background: #575757; /* Background of the scrollbar track */
        border-radius: 10px;
    }
    
    .grid-container::-webkit-scrollbar-thumb {
        background-color: #ecf0f1; 
        border-radius: 10px;
        border: 2px solid #34495e; 
    }
    
    .grid-container::-webkit-scrollbar-thumb:hover {
        background-color: #bdc3c7; 
    }
    
    /* Style for the child elements of the grid container in project.html */
    .child {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        padding: 30px;
        padding-left: 130px;
        padding-right: 150px;
        height: 20px;
        margin: 15px;
        background-image: url(33.jpg);
        font-size: 30px;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        position: relative;
        right: 110px;
    }
    
    
    .child a {
        color: aliceblue;
        text-decoration-line:none ;
        font-size: 15px;
    margin: 0 10px;
    }
    
    
    .child button{
        position: relative;
        top: 80px;
        left: 110px;
      color: #000000;
    }
    /* add search button*/
.add-project{
  display: flex;
  flex-direction: column;
  position: fixed;
    left: 160px;
top: 140px;
}
#additemContent{
  

   position: relative;
    bottom: 34px
}
#addbtn{
    
    position: relative; 
    bottom: 30px;
    padding: 7px;
}
#searchitemContent{

    position: relative;
top: 35px;
}
#searchbtn{
    position: relative;
    top: 40px;
    padding: 7px;
}

.search-project{
   display: flex;
   flex-direction: column;
   position: fixed;
    left: 160px;
    top: 150px;
    
}
.main-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom:1;
    top: 150px;
   left: 100px;
   
}
.me{
    display: flex;    
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 15px;
    bottom: 30px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 20px;
}
.me a{
    color: rgb(255, 255, 255);
}
.me p{
    font-size: 14px;
    padding: 10px;
    height: 200px;
    width: 200px;
}
.family{
   
    position: relative;
    left: 15px;
     color: rgb(255, 255, 255); 
 }
 #h2-family{
    color: white;
    position: relative;
    left: 90px;
}
 td{
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #111;
    }

    .skills{
 
        padding: 50px;
        margin-left:60px;
        font-size: 20px;
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        color: azure;
        position:fixed;
        left: 330px;
        top: 120px;
    }
    #skill-h2{
        position: fixed;
        top: 80px;
        left: 250px;
        color: wheat;
        text-decoration-line:underline ;
        margin-bottom: 100px;
    }
    
    .child-skill{
        padding: 40px;
        display: flex;
        flex-direction: column;
    
        align-items: center;
        position: relative;
        right: 270px;
        bottom: 40px;
        justify-content: space-between;
    }
    .skills img{
        border-radius: 50%;
        width: 50px;
        margin-bottom: 10px;
    }

    .contact{
        display: flex;
        flex-direction: column;
     align-items: center;
     font-size: 14px;
     position: fixed;
        top: 130px;
        left: 165px;
    }
    .contact form fieldset{ 
     
        padding: 6px;
        color: rgb(255, 255, 255);
        border-radius:20px ;
    }
    /* styles for input and label*/
    input{
        border-color: black;
        border-radius: 20px;
        width: 180px;
        height: 30px;
    }
    textarea{
       width: 220px;
        border-color: black;
        border-radius: 20px;
     
    }
}
