.Skills h1{
    text-align: center;
    position: relative;
    bottom: 10px;
    right: 30px;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#block-90 {
    border: 1px solid black;
    width: 40%;
    height: 25px;
    border-radius: 10px;
    position: relative;
    left: 320px;

 /* for percent 90% to be in right in center using flex and align-items in end*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}


#percent-90{
    border: 1px solid black;
   background-color: rgb(40, 133, 187);
    height: 25px;
    border-radius: 10px;
    width: 35%;

    position: relative;
    bottom: 27px;
    left: 320px;
}
#block-85{
    border: 1px solid black;
    width: 40%;
    height: 25px;
   
    border-radius: 10px;
    text-align: right;
    position: relative;
    left: 320px;
 /* for percent 85% to be in right in center using flex and align-items in end*/
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding-right: 10px;

}
#percent-85{
    border: 1px solid black;
   background-color: rgb(40, 133, 187);
    height: 25px;
    border-radius: 10px;
    width: 32%;

    position: relative;
    bottom: 27px;
    left: 320px;
}
#block-75{
    border: 1px solid black;
    width: 40%;
    height: 25px;
    border-radius: 10px;
    text-align: right;
    position: relative;
    left: 320px;
 /* for percent 75% to be in right in center using flex and align-items in end*/
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding-right: 10px;

}
#percent-75{
    border: 1px solid black;
   background-color: rgb(40, 133, 187);
    height: 25px;
    border-radius: 10px;
    width: 29%;
    position: relative;
    bottom: 27px;
    left: 320px;
}
#block-70{
    border: 1px solid black;
    width: 40%;
    height: 25px;
    border-radius: 10px;
    text-align: right;
    position: relative;
    left: 320px;
 /* for percent 70% to be in right in center using flex and align-items in end*/
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding-right: 10px;

}
#percent-70{
    border: 1px solid black;
   background-color: rgb(40, 133, 187);
    height: 25px;
    border-radius: 10px;
    width: 26%;
    position: relative;
    bottom: 27px;
    left: 320px;

}
#block-60{
    border: 1px solid black;
    width: 40%;
    height: 25px;  
    border-radius: 10px;
    text-align: right;
    position: relative;
    left: 320px;
 /* for percent 60% to be in right in center using flex and align-items in end*/
 display: flex;
 align-items: center;
 justify-content: flex-end;
 padding-right: 10px;

}
#percent-60{
    border: 1px solid black;
   background-color: rgb(40, 133, 187);
    height: 25px;
    border-radius: 10px;
    width: 22%;
    position: relative;
    bottom: 27px;
    left: 320px;
}

.flex{
display: flex;
justify-content: space-around;
}
.Skills p{
    position: relative;
    left: 500px;
}
#image1{
    position: relative;
    left: 20px;
    width: 150px;;
}
#image2{
    position: relative;
   width: 170px;;
    bottom: 600px;
    right: 100px;
}
#image3{
    position: relative;
    left: 650px;
    width: 150px;;

}
#image4{
    position: relative;
   width: 170px;;
    bottom: 590px;
    left: 450px;
}